@import url('./_variables.scss');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--Adobe-Caslon-Pro);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    background-color: black;
    color: white;
    width: 100vw;
    overflow-x: hidden;
}

// Headers

h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    font-weight: 400;
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
    margin: 0;
    font-family: var(--Irvin);
    text-align: center;
}
