.article__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.article__header {
    height: 581px;
    width: 448px;
    padding: 32px;
    margin: auto;

    border: 2px solid white;
    font-family: var(--Irvin);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 600px) {
        width: 311px;
        height: 509px
    }
}

.rubric {
    margin: 0;
}

.title {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.35em;

    :global(.smaller) {
        flex-basis: 100%;
        font-size: var(--h2-font-size);
    }
}

.dek {
    font-family: var(--Adobe-Caslon-Pro);
    font-size: 24px;
    line-height: 28px;
    font-style: italic;

    @media screen and (max-width: 600px) {
        font-size: 21px;
        line-height: 24px;
    }
}

.byline {
    font-family: var(--Neutraface);
    font-size: 15px;
}

.date {
    font-size: 12px;
    font-family: var(--Graphik);
    line-height: 12px;
}

.icon__container {
    display: flex;
}

.icon {
    --icon-height: 42px;
    height: var(--icon-height);
    width: var(--icon-height);

    svg {
        height: 16px;
        width: 16px;
        cursor: pointer;
    }
}