.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        padding: 10px;
        height: 50px;
        width: 150px;
        object-fit: contain;

        @media screen and (max-width: 600px) {
            height: 37px;
        }
    }
}