.spotlight__container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.spotlight {
    position: absolute;
    height: calc(60vw + 100vh);
    transform-origin: bottom;
    z-index: 5;
    pointer-events: none;
    transform-origin: bottom;

    img {
        width: 100%;
        height: 100%;
        transform-origin: bottom;
        will-change: transform;
    }
}

.left {
    bottom: 0;
    left: 0;
    transform: translateX(-230%) translateY(15%);
}

.right {
    bottom: 0;
    right: 0;
    transform: translateX(230%) translateY(15%);
}