.stars__image {
    width: 100vw;
    height: 100vh;
    background: url('/images/stars.png');
    background-repeat: repeat;
}

.stars__canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}